<% if @post.errors.any? %>
  <div class="form_area">
    <div class="vali_alert">
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>