<footer class="footer">
  <div class="footer__wrapper">
    <h4 class="icon">
      <a href="/">転クエ掲示板</a>
    </h4>
    <div class="copylight">
      <span>©︎2020 転職クエスト All Rights Reserved.</span>
    </div>
  </div>
</footer>