<footer class="footer">
  <div class="footer__wrapper">
    <h4 class="footer__wrapper__h4">
      <a href="/">転クエ掲示板</a>
    </h4>
    <div class="footer__wrapper__copylight">
      <span>©︎2020 転職クエスト All Rights Reserved.</span>
    </div>
  </div>
</footer>